* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

                                            /*navbar*/

.nav-wrapper ul.nav-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 20px 50px 0;
    color: rgb(3, 3, 141);
}

.nav-wrapper ul.nav-list li a{
    padding: 0 10px 0;
    text-decoration: none;
}

.nav-wrapper ul.nav-list li:hover {
    border-bottom: 5px solid rgb(3, 3, 141);
    border-radius: 5px;
}


.nav-wrapper .brand {
    height: 50px;
    width: 200px;
    margin: 5px 0 5px;
}
        /* login and sign up part */

.nav-wrapper .login-signup {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 20px 50px 0;
    
}

.nav-wrapper .login-signup a{
    text-decoration: none;
    margin: 0 5px 0;
    color: rgb(3, 3, 141);
}

.nav-wrapper .login-signup a.splitor {
    font-size: 20px;
    font-weight: 900;
}

.hamburger {
    display: none;
}

                                        /* part two start*/

.part2{
    display: flex;
    flex-direction: row;
    background-color:rgb(0, 66, 136);
    color: rgb(255, 255, 255);
}

.roket img{
    margin-left: 150px;
    height: 600px;
    padding-top: 50px;
}


.c-name, .right-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.c-name{
    justify-content: flex-start;
    margin: 40px 80px 40px;
}

.c-name h1{
    font-size: 70px;
}

.c-name p{
    font-size: 20px;
    font-family:Courier New;
    margin-left: 35px;
}

.right-side{
    line-height: 1.4;
    margin-top:150px;
    margin-left: -250px;
}

.right-side h2{
    font-size: 50px;
}

.right-side h3{
    font-family:Courier New;
    font-size: 20px;
}

.right-side p{
    font-family:Courier New;
    font-size: 20px;
}

                            /* part 3th started*/

.part3 {
    background-color: rgb(0, 66, 136);
    display: flex;
    justify-content: space-between;
    padding: 80px;
}

.part3 h1{
    color: white;
    font-size: 40px;
    margin-left: 70px;
}
.part3 h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.3;
}

.center{
   padding: 50px;
}

.center button{
    background-color: rgb(49 , 150, 254);
    color: white;
    height: 35px;
    width: 35px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

.btn {
    margin-top: -20px;
}


.one, .two, .three, .four{
    margin: 20px;
    height: 150px;
    width: 250px;
    padding-left: 30px;
    background-color: white;
}

.one {
    border-radius: 35px 35px 0 35px;
}

.two{
    border-radius: 35px 35px 35px 0;
}

.three{
    border-radius: 35px 0 35px 35px;
}
.four{
    border-radius: 0 35px 35px 35px;
}

.top, .bottom{
    display: flex;
}

.activity img{
    height: 550px;
    margin-left: 60px;
}

                            /* part4*/
.part4{
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 66, 136);
}

.part4 h1{
    margin-left: 150px;
    color: white;
}

.part4 .more{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 150px 30px;
    padding: 20px 50px 20px;
    border: 1px solid black;
    border-radius:30px ;
    background-color: white;
    
}

.info {
    text-align: center;
    height: 200px;
    line-height: 1.5;
    width: 200px;
    padding: 5px 7px 5px;
}


.info i{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: rgb(33, 130, 234);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 29px;
    margin: 10px  60px 10px;
}



.info:hover{
    background-color: rgb(33, 130, 234);
    height: 260px;
    margin-top: -20px;
    margin-bottom: -50px;
    padding-top: 20px;
    color: white;
    border-radius: 0 0 30px 30px;
    border: 5px solid white;
}

.info:hover i{
    background-color: white;
    color: rgb(33, 130, 234);
}

.info:hover button{
    display: block;
    margin: 20px 40px 20px ;
}

.info button{
    display: none;
    height: 30px;
    width: 100px;
    border-radius: 20px;
    border: none;
    background-color: white;
    color: rgb(76, 76, 255);

}
.info button a{
    text-decoration: none;
}

.footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(32, 116, 202);
    color: white;
    padding: 20px 0;
    height: 300px;
}

.footer h3{
    margin-top: 20px;
}

.footer img{
    height: 50px;
}

.address{
    width: 200px;
    margin-top: 10px;
}

.follow-us{
    display: flex;
    flex-direction: column;
    line-height: 1.8;
}

.follow-us label{
    margin: 10px;
}

.follow-us a{
    text-decoration: none;
    color: white;
}

.tags{
    margin-top: 8px;
}

.tags .new{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 50px;
    width: 350px;
    padding-top: 10px;
}

.tags p {
    border: 1px solid white;
    border-radius: 15px;
    text-align: center;
    margin: 5px;
    padding: 10px;
}

.t-c{
    line-height: 1;
    margin-top: 8px;
}



                            /*Responsive of pages*/

@media screen and (max-width:1400px){

    .c-name{
        margin-bottom: 500px;
    }
    .right-side {
        margin-top: 160px;
        margin-left: -400px;
    }

}

@media screen and (max-width:1250px){
    .part3{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width:1100px){
    .part4 .more{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 50px; 
    }
    .info:hover{
        background-color: rgb(33, 130, 234);
        height: 260px;
        margin-top: -20px;
        margin-bottom: 20px;
        padding-top: 20px;
        color: white;
        border-radius: 0 0 30px 30px;
        border: 5px solid white;
    }
}


@media screen and (max-width:1000px){
 
    .part2{
        display: flex;
        flex-direction: column;
        background-color: rgb(0, 66, 136);
        color: rgb(255, 255, 255);
    }

    .roket{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 150px;
    }
    .c-name {
        align-items: center;
    }
    .right-side{
        margin:-450px 50px 50px 50px ;
    }

}

@media screen and (max-width:768px) {

    .nav-wrapper ul.nav-list{
    background-color: black;
    display: none;
    }

    .nav-wrapper .login-signup{
    display: none;
    }

    .nav-wrapper .brand{
    margin-right: 10px;
    }

    /* class hamburger starts*/
    .hamburger {
    display: flex;
    flex-direction: column;
    padding: 20px;
    cursor: pointer;
    z-index: 9999;
    }

    .hamburger span {
    background: black;
    width: 38px;
    height: 5px;
    margin-bottom: 8px;
    }


    .hamburger span {
    transform-origin: left;
    transition: all .3s ease-in-out;
    }

    /*part2 */

    .part2{
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 66, 136);
    color: rgb(255, 255, 255);
    }

    .roket{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 150px;
    }

    .c-name {
    display: flex;
    justify-content: center;
    align-items: center;
    }

                /* part 3*/



}





