* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

    /*nav bar list start*/

.nav-wrapper ul.nav-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 20px 50px 0;
    color: rgb(3, 3, 141);
}

.nav-wrapper ul.nav-list li a{
    padding: 0 10px 0;
    text-decoration: none;
}

.nav-wrapper ul.nav-list li:hover {
    border-bottom: 5px solid rgb(3, 3, 141);
    border-radius: 5px;
}

/*navbat list end*/

.nav-wrapper .brand {
    height: 50px;
    width: 200px;
    margin: 5px 0 5px;
}
        /* login and sign up part */

.nav-wrapper .login-signup {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 20px 50px 0;
    
}

.nav-wrapper .login-signup a{
    text-decoration: none;
    margin: 0 5px 0;
    color: rgb(3, 3, 141);
}

.nav-wrapper .login-signup a.splitor {
    font-size: 20px;
    font-weight: 900;
}

.hamburger {
    display: none;
}


@media screen and (max-width:768px) {

    
    .nav-wrapper ul.nav-list{
        background-color: black;
        display: none;
    }

    .nav-wrapper .login-signup{
        display: none;
    }

    .nav-wrapper .brand{
        margin-right: 10px;
    }

                                /* class hamburger starts*/
    .hamburger {
        display: flex;
        flex-direction: column;
        padding: 20px;
        cursor: pointer;
        z-index: 9999;
    }

    .hamburger span {
        background: black;
        width: 38px;
        height: 5px;
        margin-bottom: 8px;
    }


    .hamburger span {
        transform-origin: left;
        transition: all .3s ease-in-out;
    }

    .wrapper .nav-wrapper ul.nav-list.open{
        opacity: 1;
        pointer-events: auto; 
        background: blue; 
        max-height: 600px;
        display: block;
    }


                            /*class hamburger finished */


    
    
}

/* login and signup part is finished*/